.vfrc-system-response .vfrc-message {
  background-color: #ededed; 
  color: #000000;
}


.vfrc-launcher {
  width: 150px;
  height: 150px;
} 

.voiceflow-chat {
  width: 150px;
  height: 150px;
} 
/* .vfrc-chat--overlay {} */

.vfrc-prompt {
  width: 150px;
  height: 150px;  
}
